@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --byellow: hsl(71, 73%, 54%);
  --lgray: hsl(204, 43%, 93%);
  --gblue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--lgray);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-areas:
    "section1 section1"
    "section2 section3";
  width: 75vh;
  height: 55vh;
  border-radius: 8px;
  overflow: hidden;
}

/* All Sections */
.section {
  padding: 2.5rem;
}

/* Section 1 */

.section1 {
  background-color: white;
  grid-area: section1;
  width: 100%;
}

.section1 > h2 {
  color: var(--cyan);
}

.section1 > h4 {
  color: var(--byellow);
  padding: 1.5rem 0 1rem 0;
}

.section1 > p {
  color: hsl(218, 22%, 67%);
}

/* Section 2 */
.section2 {
  background-color: var(--cyan);
  grid-area: section2;
  width: auto;
  color: white;
}

.dollar-box {
  display: flex;
  align-items: center;
  padding: 1rem 0 0.4rem 0;
}

.dollar {
  font-size: 2rem;
}

.dollar-month {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.section2 > button {
  background-color: var(--byellow);
  width: 100%;
  height: 3rem;
  border-color: rgba(240, 248, 255, 0);
  box-shadow: 3px 3px 8px hsl(179, 61%, 27%);
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: 2rem 0 2rem 0;
}

/* Section 3 */
.section3 {
  background-color: hsla(179, 62%, 43%, 0.556);
  grid-area: section3;
  width: auto;
}

.section3 > h3 {
  color: white;
}

.section3 > p {
  padding: 1.5rem 0 0 0;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  .grid {
    grid-template-areas:
      "section1"
      "section2"
      "section3";
    height: auto;
    width: 35vh;
  }
}
